body {
  background-color: #ffa9a9;
}

.grid {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
  }
  
  .grid div {
    width: 20px;
    height: 20px;
  }
  
  .snake {
    background-color: #00ffaa;
  }
  
  .apple {
    background-color: #790505;
  }

  .score {
    color: #ffffff;
    font-family: 'Merienda One', cursive;
  }

  .start {
    color: #ff9fb2;
    font-family: 'Merienda One', cursive;
  }